selectionColor = #b4d5fe

textShadowToCropUnderline(color)
	text-shadow: .04em 0 color, -.04em 0 color, 0 .04em color, 0 -.04em color, .08em 0 color, -.08em 0 color, .13em 0 color, -.13em 0 color, .16em 0 color, -.16em 0 color, .15em 0 color, -.15em 0 color

linkUnderlines(backgroundColor, textColor, highlight = '')
	color: textColor
	text-decoration: none
	textShadowToCropUnderline: backgroundColor
	background-image: 
		linear-gradient(backgroundColor, backgroundColor), 
		linear-gradient(backgroundColor, backgroundColor), 
		linear-gradient(highlight || textColor, highlight || textColor)
	background-size: .05em 2px, .05em 2px, 2px 2px
	background-repeat: no-repeat, no-repeat, repeat-x
	background-position 0% 97%, 100% 97%, 0% 97%
	transition: color 0.5s ease
	cursor: pointer

	&::selection
		textShadowToCropUnderline(selectionColor)
		background: selectionColor

	&::-moz-selection
		textShadowToCropUnderline(selectionColor)
		background: selectionColor

	&:before, &:after, *, *:before, *:after
		text-shadow: none

	&:visited
		color: textColor
	
	&:hover
		color: highlight || textColor

body
	background-color: white
	color: black
	font-family: Lora
	line-height: 1.5
	text-rendering: optimizeLegibility
	font-variant-ligatures: common-ligatures
	font-feature-settings: "kern", "liga"
	font-kerning: normal
	

.center
	margin: auto

.link
	linkUnderlines(white, black, red)

.link-silver
	linkUnderlines(white, silver, red)

.link-red
	linkUnderlines(white, red, black)
	
.right-3
	right: -3rem
	
.offset
	transform: translateX(100%)

.offset0
	transform: translateX(0%)

.offset0-m
	+below(1150px)
		transform: translateX(0%)